<!DOCTYPE html>
<html>
<head>
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{counter}}</p>
    <form class="add" action="/add" method="post">
        <input type="submit" value="Add 2">
    </form>
    <form class="reset" action="/reset" method="post">
        <input type="submit" value="Reset">
    </form>
    <!-- <form action="/choice_add" method="post">
        How much do you want to increment by:
        <input type="text" name="num">
        <input type="submit" value="Go">
    </form> -->
</body>
</html>