<!DOCTYPE html>
<html>
<head>
    <title>Read(One)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div>
        <h1 class="top"> User {{id}}</h1>
        <a class="home" href="/users">Home</a>
    </div>

    <div class="container">
        <p>Full Name: {{full_name}}</p>
        <p>Email: {{email}}</p>
        <p>Created On: {{created}}</p>
        <p>Last Updated On: {{updated}}</p>
    </div>


    <p><a href="/users/{{id}}/edit">Edit</a> | <a href="/users/{{id}}/destroy">Destroy</a></p>
</body>
</html>